@import "tinymce/skins/content/default/content.css";
@import "tinymce/skins/ui/oxide/content.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-active {
    fill: blue;
    color: blue;
}

.icon-inactive {
    fill: none;
    color: white;
}